# System folders CLion and cache
.idea/
cmake-build-*/

# Compiled files
*.exe
*.obj
*.dll
*.ninja
*.log
node_modules
dist
logs
__MACOSX
.Saved/
_arc/
.vscode/
.publish/
.DS_Store
*.sublime-*
*.rar
*.zip
.idea
ex_files
Thumbs.db
*:Zone.Identifier
